@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 14%;
    --foreground: 0 0% 98%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 83 100% 61%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.float1 {
  transform: translateX(0px);
  animation: float1 4s ease-out infinite;
}

@keyframes float1 {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b4ff39;
}

::-webkit-scrollbar-thumb:hover {
  background: #72a127;
}

/* Underline for link */

.underlined_link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.underlined_link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #b4ff39;
  position: absolute;
  bottom: 0px;
  transition: width 0.2s ease;
}

.underlined_link:hover::after {
  width: 100%;
}
